In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [2]:
# get counts and remove stop words
def vectorizeText(inputText):
    cv = CountVectorizer(stop_words='english')
    X = cv.fit_transform(inputText)
    df_cv = pd.DataFrame(X.toarray(), columns=cv.get_feature_names())  
    df_cv.info()
    print(df_cv.columns)
    print(df_cv)

# get term frequencies and remove stop words
def vectorizeTextIDF(inputText):
    cv_tfidf = TfidfVectorizer(stop_words='english')
    X_tfidf = cv_tfidf.fit_transform(page_sentences)
    df_tfidf = pd.DataFrame(X_tfidf.toarray(), columns=cv_tfidf.get_feature_names())
    df_tfidf.info()
    print(df_tfidf.columns)
    print(df_tfidf)

In [3]:
unpickled_df = pd.read_pickle("./sla_chapter_text.pkl")
unpickled_df

                                        chapter_text  book  chapter
0   prelud stormlight archiv kalak round rocki st...     1        1
1   love men frigid thing mountain stream three s...     1        2
2   six year ago jasnah kholin pretend enjoy part...     2        1
3   perfectli frank happen last two month upon he...     2        2